form .mb-3 {
  position: relative;
}
label.is-invalid {
  width: auto;
  font-size: 11px;;
  color: #dc3545;
  position: absolute;
  top: 7px;
  right: 0px;
}
.btn {
  text-transform: uppercase;
}
table.dataTable {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
.bootstrap-select label.is-invalid {
  top: -26px;
}